* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(234, 205, 14);
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: red;
    --imagenfondo: url(./assets/imagenPortada.png)
}

header {
    background-image: var(--imagenfondo);
    height: 200px;
}

#linksNav {

    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    font-size: 25px;

}

h2 {
    color: var(--secondary-color);
}


.linkStyle {
    text-decoration: none;
    color: white;
}

#textoPortada1 {
    color: aliceblue;
    display: flex;
    padding-top: 35px;
    justify-content: center;
    font-size: 50px;
}

#textoPortada2 {
    color:var(--primary-color);
    display: flex;
    justify-content: center;
}

#piePagina {
    background-image: url(./assets/imagenPortada.png);
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 10%px;
    padding-right: 10%px;
}

.parrafoContacto1 {
    padding: 10% 5% 5% 5%;
    font-size: 30px;
}

.parrafoContacto2 {
    padding: 1% 5% 1% 5%;
    font-size: 20px;
}

.parrafoContacto3 {
    padding: 1% 5% 10% 5%;
    font-size: 20px;
}




button {
    font-size: 10px;
    margin-left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

section {
    margin: 2% 20% 5% 20%;
    display: grid;

}

#tituloMinombre {
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 2%;
}

#tituloMinombre2 {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 2%;
}

#imgIgnacio {
    height: 350px;
    border-radius: 50%;
}

#imgInfancia {
    height: 400px;
    margin-top: 50px;
    border-radius: 5%;
}

#imgMecanica {
    height: 400px;
    border-radius: 5%;
}

#imgMilitar {
    height: 410px;
    border-radius: 5%;
}

#imgBoda {
    height: 410px;
    border-radius: 5%;
}

#mainHobbies1 {
    margin: 4% 10% 2% 15%;
    font-size: 40px;
}

#mainHobbies2 {
    margin: 4% 10% 2% 15%;
    font-size: 20px;
}


#navHobbies {
    border: solid;
    margin: 3% 10% 2% 10%;
    height: 40px;
    padding: 1% 1% 1% 26%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

#navHobbies1 {
    border: solid;
    margin: 3% 10% 2% 10%;
    height: 40px;
    padding: 1% 1% 1% 25%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

#navHobbies2 {
    border: solid;
    margin: 3% 10% 5% 10%;
    height: 40px;
    padding: 1% 1% 1% 30%;
    border-radius: 10px;
    background-color: rgb(90, 90, 90);
}

.contenidoHobbies {
    color: goldenrod;
    text-decoration: none;
    font-size: 25px;
}

.formatoParrafos {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}



#Contacteme {
    padding-top: 10%;
}

#Contactos {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 5%;

}

.tamañoInput {
    width: 280px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Mensaje {
    margin-top: 5%;
    width: 280px;
    height: 100px;
}

#boton {
    background-color: black;
    margin-top: 15%;
    border-radius: 10%;
    font-size: 20px;
    color: white;
}

#imgRoyal {
    width: 500px;
}

#tituloMinombre3 {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 15%;
    font-size: 20px;
}

#tituloMinombre4 {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 5%;
    font-size: 18px;
}

#imgHyosung {
    width: 400px;
    height: 300px;
    margin-right: 5%;
}

.imgMotosHyo {
    width: 500px;
    display: flex;
}

#section1 {
    margin: 2% 15% 5% 10%;
    display: flex;
    font-size: 20px;

    }

#imgComida {
    width: 600px;
    margin-left: 10%;
    margin-top: 0%;
}

.titulosSobremi {
    font-size: 40px;
}

#formulario {
    padding-top: 20%;
}


form {
    width: 300px;
    height: 400px;
    border: solid 1px;
    border-radius: 1px;
    padding: 5% 5% 5% 5%;
    font-size: 15px;
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
}

table {
    border: solid 1px;
    width: 200%;
    height: 100px;
    padding: 20% 10% 10% 10%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#collageMotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.imgMotosHyo {
    display: flex;

}


